body {
    background-image: url('../img/bg-small.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    padding-top: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-family: "Graduate";
    font-size: 20px;
    font-weight: bold;
}

.card-body a {
    text-decoration: none;
    color: black;
}

.card-body a:hover {
    color: #45a049;
}

.card-text {
    font-size: 16px;
}

.card-body img {
    width: 5rem;
    height: auto;
}

@media (min-width: 768px) {
    .card-body img {
        width: 6rem;
        height: auto;
    }

    .container {
        padding-top: 20px;
    }
}

@media (min-width: 992px) {
    body {
        background-image: url('../img/bg-large.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .card-body img {
        width: 7rem;
        height: auto;
    }

    .container {
        padding-top: 30px;
    }
}